@model IEnumerable<AuthorBookDetails.Models.Author>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDetail.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDetail.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorDetail.State)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AuthorDetail.Country)
            </th>
            <th>

            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDetail.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDetail.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDetail.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorDetail.Country)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { authId = item.Id }) |
                @Html.ActionLink("Author Details", "Details", new { authId = item.Id }) |
                @Html.ActionLink("Books", "Details", "Book", new { authId = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", new { authId = item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
